@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

body {
    background-color: #444;
}
.brand-font {
    font-family: 'Cinzel Decorative', cursive;
}
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/Hateno.jpg");
    background-size: cover;
    background-position: center;
}
.hero-text {
    text-align: left;
    font-family: 'Cinzel Decorative', cursive;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 3px black;
}
.intro {
    background-color: whitesmoke;
    color: #222;
}
.featCharacter {
    background-color: whitesmoke;
    color: #222;
}