@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@font-face {
    font-family: 'hylia_serif_betaregular';
    src: url('./Hylia\ Serif\ Beta\ v0-009/hyliaserifbeta-regular-webfont.woff2') format('woff2'),
         url('./Hylia\ Serif\ Beta\ v0-009/hyliaserifbeta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #444;
    font-size: 16pt;
}
.brand-font {
    font-family: 'hylia_serif_betaregular', cursive;

}
.hero-front {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/Hateno.jpg");
    background-size: cover;
    background-position: center;
}
.hero-feature {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/kakariko.jpg");
    background-size: cover;
    background-position: center;
}
.hero-text {
    text-align: left;
    font-family: 'hylia_serif_betaregular', cursive;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 3px black;
}
.intro {
    background-color: whitesmoke;
    color: #222;
}
.featCharacter {
    background-color: whitesmoke;
    color: #222;
    padding-bottom: 10px;
}
.featCharacterPhoto {
    width: 400px;
    height: 400px;
    border: 2px solid black;
}