@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@font-face {
    font-family: 'hylia_serif_betaregular';
    src: url('./Hylia\ Serif\ Beta\ v0-009/hyliaserifbeta-regular-webfont.woff2') format('woff2'),
         url('./Hylia\ Serif\ Beta\ v0-009/hyliaserifbeta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #444;
    font-size: 16pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.brand-font {
    font-family: 'hylia_serif_betaregular', cursive;
}
.zindex {
    z-index: 1000;
}
.hero-front {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/Hateno.jpg");
    background-size: cover;
    background-position: center;
}
.hero-feature {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/kakariko.jpg");
    background-size: cover;
    background-position: center;
}
.hero-characters {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/lurelin.jpg");
    background-size: cover;
    background-position: 0% 89%;
}
.hero-news {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/castle.jpg");
    background-size: cover;
    background-position: 0% 50%;
}
.hero-contact {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/tarrey.jpg");
    background-size: cover;
    background-position: 0% 50%;
}
.hero-text {
    text-align: left;
    font-family: 'hylia_serif_betaregular', cursive;
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 3px black;
    z-index: 999;
}
.intro {
    background-color: whitesmoke;
    color: #222;
}
.featCharacter {
    background-color: whitesmoke;
    color: #222;
    padding-bottom: 10px;
}
.featCharacterPhoto {
    width: 400px;
    height: 400px;
    border: 2px solid black;
}
.quote {
    height: fit-content;
    width: 60%;
    font-family: 'hylia_serif_betaregular', cursive;
    font-size: 32pt;
    color: #444;
    background-color: #999;
    float: right top;
    text-align: center;
}
.character {
    background-color: whitesmoke;
    color: #222;
    border: 1px solid #222;
    height: 50%;
    width: 30%;
    margin: 15px 15px 15px 15px;
}
.characterphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

}
#contactme {
    padding: 10px 10px 10px 10px;
}
.pad {
    padding: 10px 10px 10px 10px;
}